{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>successful registered</h1>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you are now successfully registered</p>
        <hr>
        <p class="mb-0">you should now able to <a href="{{ path('app') }}">login</a></p>
    </div></div>
{% endblock %}

