{% extends 'base.html.twig' %}

{% block body %}



        <!-- Promo Block Content -->
        <main class="g-min-height-100vh g-flex-centered g-bg-size-cover g-bg-cover g-bg-bluegray-opacity-0_3--after g-pa-15" >
            <div class="text-center g-max-width-700 g-flex-centered-item g-z-index-1 g-color-white">
                <h1 class="display-3 g-mb-30">Coming Soon</h1>
                <p class="g-font-size-22 g-mb-50">Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
            </div>
        </main>
        <!-- Promo Block Content -->
{% endblock %}

{% block title %}

{% endblock %}






