html {
    position: relative !important;
    min-height: 100% !important;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

main {
    padding-top: 48px;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: $footer-height;
    line-height: $footer-height; /* Vertically center the text there */
    background-color: $footer-background-color;
}
